h1{

    text-align: center;
    font-weight: bold;
    padding: 10px 20px 30px 40px;

}
.container{


    background-color:lightblue;
    width: 800px;
    height: 600px;
    
   
    

}

.item{

    background-color: lightpink;
    height: 60px;
    width: 120px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: larger;
     border-style: solid;
     border-width: 1px;
}